body {
  background-image: url(/img/misc/pokepaper.png);
  background-size: cover;
}

.main-card-container {
  background-color: #fff8dc;
}

#catch-pokemon-button {
  background-image: url(/img/misc/poke-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: black;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: poke-shake 4s infinite;
}

.nav-bar {
  background-color: #dc143c !important;
}

.card-border {
  border-color: #dc143c;
}

.poke-logo {
  width: 200px;
  height: 50px;
}

.magnifier {
  width: 35px;
  height: 35px;
}

.paginator-text {
  color: black;
}

.search-input:focus {
  color: black;
  box-shadow: none;
  border-color: white;
}

.paginator-text:focus {
  color: #dc143c;
  box-shadow: none;
  border-color: #dc143c;
  background-color: white;
}

.paginator-text:hover {
  color: black;
  border-color: #dc143c;
  box-shadow: 0 0 10px #dc143c;
}

.hidden {
  display: none;
}

.pokemon-sprite {
  transition: transform 0.3s ease;
}

.pokemon-sprite:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.modal-texture {
  border: solid gold 10px;
  border-radius: 10px;
  border-style: outset;
  background: url(/img/modal-textures/water-texture.png);
  background-size: cover;
}

.modal-fs {
  font-size: 12px;
}

.modal-banner {
  border: 2px solid rgb(254, 230, 98);
  font-size: 11px;
  background: content-box radial-gradient(rgb(250, 232, 130), rgb(193, 187, 26));
  border-style: inset;
}

.modal-title {
  margin-top: -25px;
  font-size: 30px;
}

.modal-main-image {
  margin-top: -20px;
}

.modal-footer-description {
  font-size: 10px;
  border: 2px solid rgb(254, 230, 98);
  border-style: inset;
  border-radius: 0px;
  background-color: transparent;
}

.main-image-container {
  border: 5px solid;
  border-color: rgb(254, 230, 98);
  border-style: outset;
  border-radius: 0px;
  background: content-box linear-gradient(rgb(107, 254, 154), rgb(30, 103, 198), rgb(13, 52, 104));
}

.main-status {
  color: red;
}

.skill-font {
  color: red;
  font-size: 15px;
}

.status-icon {
  width: 1rem;
  height: 1rem;
}

.stage-icon {
  width: 4rem;
}

.type-icon {
  width: 3.5rem;
  height: 1.6rem;
}

.modal-horizontal-rule {
  border: 1px solid black;
}

@keyframes poke-shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-15px) rotateZ(-15deg);
  }
  20% {
    transform: translateX(15px) rotateZ(15deg);
  }
  30% {
    transform: translateX(-10px) rotateZ(-10deg);
  }
  40% {
    transform: translateX(10px) rotateZ(10deg);
  }
  50% {
    transform: translateX(-5px) rotateZ(-5deg);
  }
  60% {
    transform: translateX(10px) rotateZ(10deg);
  }
  70% {
    transform: translateX(-10px) rotateZ(-10deg);
  }
  80% {
    transform: translateX(15px) rotateZ(15deg);
  }
  90% {
    transform: translateX(-15px) rotateZ(-15deg);
  }
  100% {
    transform: translateX(0) rotateZ(0);
  }
}
