body {
  background-image: url(/img/misc/pokepaper.png);
  background-size: cover;
}

.main-card-container {
  background-color: #fff8dc;
}

#catch-pokemon-button {
  background-image: url(/img/misc/poke-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: black;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: poke-shake 4s infinite;
}

.nav-bar {
  background-color: #dc143c !important;
}

.card-border {
  border-color: #dc143c;
}

.poke-logo {
  width: 200px;
  height: 50px;
}

.magnifier {
  width: 35px;
  height: 35px;
}

.paginator-text {
  color: black;
}

.search-input:focus {
  color: black;
  box-shadow: none;
  border-color: white;
}

.paginator-text:focus {
  color: #dc143c;
  box-shadow: none;
  border-color: #dc143c;
  background-color: white;
}

.paginator-text:hover {
  color: black;
  border-color: #dc143c;
  box-shadow: 0 0 10px #dc143c;
}

.hidden {
  display: none;
}

.pokemon-sprite {
  transition: transform 0.3s ease;
}

.pokemon-sprite:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@keyframes poke-shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-15px) rotateZ(-15deg);
  }
  20% {
    transform: translateX(15px) rotateZ(15deg);
  }
  30% {
    transform: translateX(-10px) rotateZ(-10deg);
  }
  40% {
    transform: translateX(10px) rotateZ(10deg);
  }
  50% {
    transform: translateX(-5px) rotateZ(-5deg);
  }
  60% {
    transform: translateX(10px) rotateZ(10deg);
  }
  70% {
    transform: translateX(-10px) rotateZ(-10deg);
  }
  80% {
    transform: translateX(15px) rotateZ(15deg);
  }
  90% {
    transform: translateX(-15px) rotateZ(-15deg);
  }
  100% {
    transform: translateX(0) rotateZ(0);
  }
}
